body
{
	background-color: #505050;
}

.wrapper
{
	display:grid;
	grid-template-columns: 70% 27% 3%;
	margin: 0px auto;	
	background: rgb(145, 145, 145);
	width: 80%;
	grid-auto-rows: 100px;
	border-radius: 6px;
	box-shadow: 10px 10px 5px black;
}

.banner
{
	padding: 5px;
}

.m-glass
{
	text-align: right;
}

.refresh-exit
{
	display: grid;
	padding: 2px;
	grid-template-rows: 80% 20%

}

.main-wrapper
{
	display:grid;
	grid-template-columns: 13% 68% 13%;
	width: 76%;
	grid-gap:3%;
}
.main-wrapper > div{
	background: rgb(145, 145, 145);	
	border-radius: 6px;
	box-shadow: 10px 10px 5px black;
	padding: 5px;

}

.icon-size
{
	width: 50%;
	padding: 3px;
}

.center-image
{
	width: 100%;
	height: 100%;
}

.wall
{
	background-image: url('resources/brick.jpg');
	background-repeat: repeat;
}

.box2
{
	grid-row: 1/6;
}

.lengthen
{
	grid-row: span 7;
}

.green-box
{
	display: grid;
	position: relative;
	background-color: #88FF89;
	margin-top: 1em;
	margin-left: 6%;
	width: 35%;
	border-radius: 6px;
	box-shadow: 10px 10px 5px black;

}

p
{
	padding-top: 0;
	position: relative;
	padding-bottom: 2em;
	padding-left: .5em; 
	font-family: sans-serif;
	font-size: .85em;
}

form
{
	position: relative;
	padding: 0;
	margin-bottom: 0;
	margin-top: -1em;
}

input
{
	padding-right: 5px
}

input[type=text]
{
	width: 80%;
	box-shadow: inset 0px 1px 8px rgba(0, 0, 0, 0);

}

b
{
	padding: 0;
	font-family: 'Times New Roman';
	font-size: 2.5em;
	font-weight: 500;
}

button
{
	position: relative;
	background-color: rgb(230, 230, 230);
	border-radius: 3px;
	border: rgb(180, 180, 180) solid 1px;
	
}

ins
{
	text-decoration-line: none;
	text-shadow: 5px 5px 3px rgba(255, 0, 0, 0.8)
}