body 
{
	background-color: rgb(100, 100, 100);
}
.rcorners1 
{
 	border-radius: 6px;
 	background: rgb(145, 145, 145);
 	padding: 5px;
 	width: 80%;
	height: 100px;
	box-shadow: 10px 10px 5px black;
}
.container 
{
	text-align: center;
}
/*img
{
	display: block;
}*/