h1
{
	text-align: center;
	font-weight: 500;
	font-size: 4em;
}

h2
{
	font-weight: 500;
	font-size: 2em;
	margin-bottom: 10px;
}

body
{
	background-color: lightskyblue;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* .login-menu
{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0px auto;	
	background: rgb(250, 250, 172);
	width: 50%;
	border-radius: 2px;
	padding: 5px;
	text-align: center;
} */

.menu-bar
{
	/*background-image: url('Biscuits.jpg');*/
	background-color:  rgb(250, 250, 172);
	border-radius: 2px;
	background-size: 50%;
	text-align: center;	
	width: 100%;
	font-size: 1.6vw;
}

.menu-bar ul
{

	display: inline-flex;
	list-style: none;
}

.menu-bar ul li
{
	width: 120px;
}

.menu-bar ul li a
{
	text-decoration: none;
	color: black;
}

.active, .menu-bar ul li:hover
{
	background-color: rgba(255, 255, 255, 0.637);
	border-radius: 4px;
}

.sub-menu-1
{
	display: none;
}

.menu-bar ul li:hover .sub-menu-1
{
	display: block;
	position: absolute;	
	background-color:  rgb(250, 250, 172);
	border-radius: 2px;
	padding: 4px;
	/* margin-left: -8px; */
}

.menu-bar ul li:hover .sub-menu-1 ul
{
	display: block;
	margin: 5px;
}

.menu-bar ul li:hover .sub-menu-1 ul li
{
	text-align: left;
	border-bottom: 1px dotted lightblue;
	padding: 8px;
}

.menu-bar ul li:hover .sub-menu-1 ul li:last-child
{
	border-bottom: none;
}


.menu-bar ul li:hover .sub-menu-1 ul li a:hover
{
	color: lightblue;
	background-color: rgba(255, 255, 255, 0.205);
}

.products
{
	display: grid;
	grid-template-columns: 50% 50%;
	/* grid-template-rows: 45% 5% 45% 5%; */
	width: 50%;
	margin: 0px auto;	
}

.choc-chip
{
	width: 80%;
	height: 80%;
}

.peanut-cookie
{
	width: 80%;
	height: 80%;
}


.short-bread
{
	width: 80%;
	height: 80%;
}

.short-bread-choc
{
	width: 80%;
	height: 80%;
}

/* .products a
{
	text-decoration: none;
	text-align: left;
} */

.cookie-add-cart
{
	display: grid;
	grid-template-columns: none;
	grid-template-rows: 80% 20%;
}

button
{
	background-color:  rgb(250, 250, 172);
	border: none;
	border-radius: 3px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 1em;
}

p
{
	display: block;
	background-color:  rgb(250, 250, 172);
	font-size: 2em;
	padding: 1em;
	border-radius: 3px;
	width: 50%;
}

.pfooter
{
	font-size: 1em;
	padding: 0.5em;
	border-radius: 3px;
	width: 50%;	
}